<div class="page-header">
  <h3>User Account #<%= @user_account.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user_account.username %></dd>

      <dt>Avatar</dt>
      <dd><img src="<%= @user_account.avatar %>" class="img-responsive"></dd>

      <dt>Email</dt>
      <dd><%= @user_account.email %></dd>

      <dt>Password</dt>
      <dd><%= @user_account.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_accounts" class="btn btn-primary">
        Back
      </a>
      <a href="/user_accounts/<%= @user_account.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_account/<%= @user_account.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
